
header{
    position: relative;
}

.links-list a , .links-list2 a{
    text-decoration: none;
    color: var(--Gray-9);
    transition: all .3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.nav-links.showMenu{
    background-color: var(--White);
    }

#burger-menu{
    color: var(--Gray-9);
}


.name{
    color: var(--Primary);
    font-family: 'Island Moments', cursive;
    transition: all .3s ease-in-out;
}
.name:hover{
    color: var(--Soft-Primary);
}


.login-container{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    height: 80vh;
    display: flex;
    align-items: self-start;
    justify-content: center;
    gap: 100px;
}

.img-container{
    border-radius: 32px;
}

.Hline{
    align-self: center;
    border: 1px var(--Gray-1) solid;
    height: 500px;
}


.login-img{
    width: 600px;
    border-radius: 8px;
    box-shadow: var(--Hard-Primary) 0 0 5px 0;
    /* margin-top: 40px; */
}

.login-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* flex: 1; */
    padding: var(--Padding-4) ;
    border: 1px var(--Gray-1) solid;
    border-radius: 16px;
    box-shadow: var(--Gray-1) 0 0 10px 0;
}
.login-txt h1{
    font-size: 52px;
    color: var(--Primary);
    justify-self: center;
}
.log-welcome p{
    color: var(--Gray-6);
    text-align: center;
}

.log-welcome br{
    display: none;
}

.login-txt input{
    padding: 15px;
    width: 350px;
    border-radius: 8px;
    border: 1px var(--Primary) solid;
    box-shadow: var(--Gray-1) 0 0 10px 0;
    color: var(--Gray-8);
    transition: all .3s ease-in-out;
}
.login-txt input:focus{
    outline: none;
    scale: 1.1;
}

.sign-names input{
    width: calc(350px /2);
}


.sign-forget{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--Primary);
    cursor: pointer;
}
.forget{
    align-self: flex-end;
    transition: all .3s ease-in-out;
}
.forget:hover{
    color: var(--Soft-Primary);
}



.login-btn{
    background: var(--Soft-Primary);
    color: var(--White);
    font-size: var(--Heading-4);
    font-weight: var(--Weight-6);
    padding: 15px var(--Padding-3);
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.login-btn:hover{
    background-color: var(--White);
    color: var(--Soft-Primary);
    scale: 1.05;
}

hr{
    width: 300px;
    color: var(--Soft-Primary);
}
.or{
    margin-top: -50px;
    background-color: white;
    padding: 10px;
    color: var(--Soft-Primary);
}

.social-login{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--Heading-1);
}
.social-login .ri-facebook-circle-fill{
    color: #009EE2;
    padding: 5px;
}
.social-login .ri-google-fill{
    color: var(--Danger);
    padding: 5px;
}
.social-login i{
    cursor: pointer;
    transition: all .3s ease-in-out;
    padding: 5px 7px;
    border: 1px var(--Primary) solid;
    border-radius: 16px;

}
.social-login i:hover{
    scale: 1.2;
}


.aleardyHave{
    color: var(--Gray-6);
}

.reg-now{
    color: var(--Soft-Primary);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.reg-now:hover{
    color: var(--Primary);
}

@media (max-width:1400px){
    .login-container{
        gap: 50px;
    }
    .login-img{
        width: 400px;
        height: 650px;
    }
    .login-txt{
        padding: 15px;
    }
}

@media (max-width:920px){
    .img-container,.Hline{
        display: none;
}
    .login-txt{
        padding: 15px;
}
    
    .login-txt h1{
        font-size: 32px;
}
    .login-txt input{
    /* padding: 15px; */
    width: 300px;
}
    .sign-names input{
    width: calc(300px /2);
}
    .log-welcome br{
        display: block;
}

}